PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/koursify
JWT_SECRET=replace-with-a-long-random-secret

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
